<form (ngSubmit)="submitForm($event)" #form="ngForm" xmlns="" xmlns="">
  <div ngModelGroup="user" #user="ngModelGroup"
       [ngClass]="{'has-error': user.status !== 'VALID' && user.touched}">
    <div class="form-group" [ngClass]="{'has-error': email.status !== 'VALID' && email.touched}">
      <label> E-mail </label>
      <input
        type="text"
        class="form-control"
        ngModel name="email"
        email
        #email="ngModel"
        required>
      <p *ngIf="email.status !== 'VALID' && email.touched">Введите корректный e-mail</p>
      <input type="button" class="btn btn-primary" value="Добавить случайный e-mail" (click)="addRE()">
    </div>
    <div class="form-group" [ngClass]="{'has-error': password.status !== 'VALID' && password.touched}">
      <label> Пароль </label>
      <input
        type="password"
        class="form-control"
        ngModel
        name="password"
        #password="ngModel"
        required>
      <p *ngIf="password.status !== 'VALID' && password.touched">Пароль не должен быть пустым</p>
    </div>
    <p *ngIf="user.status !== 'VALID' && user.touched">Данные пользователя введены некорректно!!!</p>
  </div>
  <div class="form-group">
    <label> Выберите страну: </label>
    <select class="form-control" [ngModel]="defaults.country" name="country">
      <option value="ru">Россия</option>
      <option value="by">Беларусь</option>
      <option value="ua">Україна</option>
    </select>
  </div>
  <div class="radio" *ngFor="let ans of answers">
    <label>
      <input type="radio" name="answer" [ngModel]="defaults.answer" [value]="ans.value"> {{ans.text}}
    </label>
  </div>
  <input type="submit" class="btn btn-success" value="Сохранить"
         [disabled]="form.form.status === 'INVALID' ? true : false"
  >
</form>
<wbr>
<div *ngIf="isSubmited">
  <pre>
    {{formData | json}}
  </pre>
</div>
