<form action="">
  <div class="form-group">
    <label> E-mail </label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label> Пароль </label>
    <input type="password" class="form-control">
  </div>
  <div class="form-group">
    <label> Выберите страну: </label>
    <select class="form-control">
      <option value="ru">Россия</option>
      <option value="by">Беларусь</option>
      <option value="ua">Україна</option>
    </select>
  </div>
  <div class="radio" *ngFor="let ans of answers">
    <label>
      <input type="radio" [value]="ans.value"> {{ans.text}}
    </label>
  </div>
  <input type="submit" class="btn btn-success" value="Сохранить">
</form>
