<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div formGroupName="user">
    <div class="form-group" [ngClass]="{'has-error': !form.get('user.email').valid && form.get('user.email').touched,
    'has-succes': form.get('user.email').valid && form.get('user.email').touched}">
      <label> E-mail </label>
      <input type="text" name="email" class="form-control" formControlName="email">
      <p *ngIf="form.get('user.email').errors && form.get('user.email').errors['email'] && form.get('user.email').touched" class="alert alert-danger">
        Некорректный e-mail!
      </p>
      <p *ngIf="form.get('user.email').errors && form.get('user.email').errors['emailErr'] && form.get('user.email').touched" class="alert alert-danger">
        Такой e-mail уже зарегистрирован!
      </p>
    </div>
    <div class="form-group" [ngClass]="{'has-error': !form.get('user.password').valid && form.get('user.password').touched,
    'has-succes': form.get('user.password').valid && form.get('user.password').touched}">
      <label> Пароль </label>
      <input type="password" name="password" class="form-control" formControlName="password">
      <p
        *ngIf="form.get('user.password').errors && form.get('user.password').errors['pattern'] && form.get('user.password').touched"
        class="alert alert-danger">
        Пароль не должен содержать символы кроме латинских букв, цифр, ".", "_"</p>
      <p
        *ngIf="form.get('user.password').errors && form.get('user.password').errors['lengthErr'] && form.get('user.password').touched"
        class="alert alert-danger">
        Пароль должен состоять минимум из {{minPassLength}}-х символов</p>
    </div>
  </div>
  <div class="form-group">
    <label> Выберите страну: </label>
    <select class="form-control" name="country" formControlName="country">
      <option value="ru">Россия</option>
      <option value="by">Беларусь</option>
      <option value="ua">Україна</option>
    </select>
  </div>
  <div class="radio" *ngFor="let ans of answers">
    <label>
      <input type="radio" name="answer" [value]="ans.value" formControlName="answer"> {{ans.text}}
    </label>
  </div>
  <input type="submit" class="btn btn-success" [disabled]="!form.valid" value="Сохранить">
</form>
<pre *ngIf="isSubmited">
  {{form.value | json}}
</pre>
