<input type="text" class="form-control" [(ngModel)]="carName">
<input type="text" class="form-control" [(ngModel)]="carYear">

<button class="btn btn-primary" (click)="addCar()">Добавить машину</button>
<p *ngIf="addCarStatus; else notAdd">Машина добавлена</p>

<ng-template #notAdd>
  <p>Машина не добавлена</p>
</ng-template>



<hr>

<app-car></app-car>



<!--<input type="text" class="form-control" (keyup)="onKeyUp($event)">
<p>{{inputText}}</p>

<input type="text" class="form-control" [(ngModel)]="input2Text">

<p>{{input2Text}}</p>

<input type="text" class="form-control" #myInput (input)="onInput3(myInput)">

<p>{{input3Text}}</p>

<input type="text" class="form-control" (keyup.enter)="onInput4($event)">

<p>{{input4Text}}</p>-->
