<!--<input type="text" class="form-control" [(ngModel)]="carName">
<input type="text" class="form-control" [(ngModel)]="carYear">
<button class="btn btn-primary" (click)="addCar()">Добавить машину</button>-->
<!--<p *ngIf="addCarStatus; else notAdd">Машина добавлена</p>

<ng-template #notAdd>
  <p>Машина не добавлена</p>
</ng-template>-->
<p>Добавление машины:</p>
<app-add-car></app-add-car>

<hr>

<div class="list-group">
  <!--<h2>{{asyncTitle | async}}</h2>-->
  <label>Фильтр по названию: <input type="text" [(ngModel)]="filterName"></label>
  <app-car class="list-group-item" *ngFor="let car of cars | nameFilter: 'name': filterName" [carItem]="car">

  </app-car>
</div>

<!--<hr>

<button class="btn btn-success" (click)="changeCarName()">Изменить имя машины</button>-->
<!--<ul>
  <li *ngFor="let car of cars2; let idx = index">
    <div>
      &lt;!&ndash;<div&ndash;&gt;
      &lt;!&ndash;[ngStyle]="{backgroundColor: ((idx + 1)%2) === 0 ? 'red': 'green', color: 'white'}"&ndash;&gt;
      &lt;!&ndash;[ngClass]="{'big-text': car.length > 4}"&ndash;&gt;
      &lt;!&ndash;can use a function(): boolean in directive ngClass&ndash;&gt;&ndash;&gt;
      <b>{{ idx + 1 }}</b> - <i>{{ car | uppercase }}</i>
    </div>
  </li>
</ul>-->


<!--<input type="text" class="form-control" (keyup)="onKeyUp($event)">
<p>{{inputText}}</p>

<input type="text" class="form-control" [(ngModel)]="input2Text">

<p>{{input2Text}}</p>

<input type="text" class="form-control" #myInput (input)="onInput3(myInput)">

<p>{{input3Text}}</p>

<input type="text" class="form-control" (keyup.enter)="onInput4($event)">

<p>{{input4Text}}</p>-->
